.oscilloscope {
  display: inline-block;
  vertical-align: middle;
}

/* During power-down, add subtle color shift */
.poweringDown {
  transition: filter 0.7s ease-in;
  filter: saturate(0.5);
}

/* During power-up, saturate back to normal */
.poweringUp {
  transition: filter 0.5s ease-out;
  filter: saturate(1);
}